@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

  /* -webkit-animation: RGBTEXT 25s infinite;
          animation: RGBTEXT 25s infinite; */

body {
  padding: 0px;
  margin: 0px;
  background-color: #12181B;
  color: white;
  font-family: "Open Sans";
  
}

body .title {
  font-family: "League Gothic";
}

::-moz-selection {
  background-color: #621ad6;
}

::selection {
  background-color: #621ad6;
}

.header {
  overflow: hidden;
  background-color: #2A2E35;
  padding: 10px 10px;
  color: #B2BECD;
  font-family: "League Gothic";
  box-shadow: 3px 3px 3px #121316;
}

.header address {
  font-size: 20px;
}

.header address a {
  text-decoration: none;
}

.header address a:link {
  color: #9858ff;
}

.header address a:visited {
  color: #585bff;
}

.header address a:hover {
  color: #6f15ff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .img {
  float: left;
  border-radius: 50%;
  width: 50px;
}

.header .a_cont {
  color: #B2BECD;
  float: right;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 32px;
  line-height: 35px;
  border-radius: 4px;
}
.header .a_cont_me {
  color: #B2BECD;
  padding: 6px;
  text-decoration: none;
  font-size: 32px;
  line-height: 35px;
  border-radius: 4px;
  display: block;
  display: inline-block;
}

.header .a_cont_me:hover {
    -webkit-animation: RGBTEXT 25s infinite;
          animation: RGBTEXT 25s infinite; 

}

.header .a_cont:hover {
  color: #621ad6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .a_cont:active {
  color: #3b0f81;
}

.header .title {
  color: #B2BECD;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.Title{

  padding:0px;
  margin:0px;
  text-align: center;

}

.Title:hover{
    -webkit-animation: RGBTEXT 25s infinite;
    animation: RGBTEXT 25s infinite; 
}

.About{

  margin-right:30%;
  width:100%;
  display:block;
}

.About-Title{

  
  margin: 0 auto;
  display: table; 

  font-size: 5vw;
  font-weight: 900;
  border-right: .15em solid #621ad6;
  animation: 
    blink-caret .75s step-end infinite;
}

.AboutChild{
  width:50%;
  float:left;
  
}

#Abouttxt{
  text-align: center;
  width:45%;
}

#link{

  font-weight: 900;
  text-decoration: none;
  color:white;

}

#link:hover{
  color: #6200ff;
  font-size: 110%;
  text-decoration: underline;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}


.PFP-Container{
  padding-top: 5%;

}

.PFP {
  border-radius: 50%;
  height: 210px;
  width: 210px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  box-shadow: 3px 3px 3px #12181B;
 }


.Footer{

  background-color: #2A2E35;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #621ad6; }
}

@-webkit-keyframes RGBTEXT {
  0% {
    color: #B2BECD;
  }
  5% {
    color: red;
  }
  10% {
    color: #eeff00;
  }
  15% {
    color: #15ff00;
  }
  20% {
    color: #00ffd5;
  }
  25% {
    color: #0026ff;
  }
  30% {
    color: #b700ff;
  }
  35% {
    color: red;
  }
  40% {
    color: #c02929;
  }
  45% {
    color: #40aab8;
  }
  50% {
    color: #19883e;
  }
  55% {
    color: #910065;
  }
  60% {
    color: #f700ff;
  }
  65% {
    color: #00e9a3;
  }
  70% {
    color: #c8e645;
  }
  75% {
    color: #518de6;
  }
  80% {
    color: #1f00ac;
  }
  85% {
    color: #2fff86;
  }
  90% {
    color: #1f0361;
  }
  95% {
    color: rgba(202, 46, 46, 0);
  }
  100% {
    color: white;
  }
}

@keyframes RGBTEXT {
  0% {
    color: white;
  }
  5% {
    color: red;
  }
  10% {
    color: #eeff00;
  }
  15% {
    color: #15ff00;
  }
  20% {
    color: #00ffd5;
  }
  25% {
    color: #0026ff;
  }
  30% {
    color: #b700ff;
  }
  35% {
    color: red;
  }
  40% {
    color: #c02929;
  }
  45% {
    color: #40aab8;
  }
  50% {
    color: #19883e;
  }
  55% {
    color: #910065;
  }
  60% {
    color: #f700ff;
  }
  65% {
    color: #00e9a3;
  }
  70% {
    color: #c8e645;
  }
  75% {
    color: #518de6;
  }
  80% {
    color: #1f00ac;
  }
  85% {
    color: #2fff86;
  }
  90% {
    color: #1f0361;
  }
  95% {
    color: rgba(202, 46, 46, 0);
  }
  100% {
    color: white;
  }
}
